---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { writingLinks } from "../../data/writing";

const novel = writingLinks[0];
---

<SiteLayout lang="zh" title={novel.title}>
  <article class="section--reading page-header">
    <h1>{novel.displayTitle.zh}</h1>
    <p>{novel.type.zh}，{novel.length.zh}。</p>
    <p>{novel.description.zh}</p>
    <p>该页面用于存放《迟迟》的相关信息，正文暂不公开。</p>
  </article>
</SiteLayout>
